<div class="review-container">
  <div>
    <img
      class="trailer-img img-fluid"
      [src]="
        sanitizer.bypassSecurityTrustResourceUrl(
          movieService.selectedMovie().poster!
        )
      "
    />
  </div>
  <div>
    <form (ngSubmit)="onSubmitReview()">
      <div class="form-floating">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="comments"
          [formControl]="review"
        ></textarea>
        <label for="comments">Comments</label>
      </div>
      <button type="submit" class="btn btn-outline-primary mt-2">Submit</button>
    </form>

    <div class="mt-3 text-white">
      <p *ngFor="let review of movieService.reviewsForSelectedMovie()">
        {{ review.body }}
      </p>
    </div>
  </div>
</div>